<p id="notice"><%= notice %></p>

Title: <%= @product.title %><br>
Price: <%= @product.variants.first.price %><br>
Description: <%= @product.body_html %><br>

<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-xs btn-default" %>
<%= link_to 'Back', root_path, class: "btn btn-xs btn-default" %>
